*{
    font-family: 'Montserrat', sans-serif;
}
body{
    background-color: rgb(252, 247, 242) !important;
}
.decoration-line{
    border-top: 2px solid #363636;
}
.container-home{
    margin-top: 100px;
}
.menu{
    font-weight: 900;
    color: #1b3930;
}
a{
    color: #1b3930 !important;
    text-decoration: none !important;
}
.container-new{
    border: 1px solid lightgrey;
    margin: 0px 20px;
}
.container-new h3{
    font-weight: 900;
}
.container-news{
    padding: 50px 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    background: hsla(30,50%,97%,.7);
    padding: 30px;
}
.container-login{
    position: absolute;
    width: 100%;
    top: 10px;
    right: 30px;
    font-size: 10px;
}