.decoration-line{
    border-top: 2px solid red;
}
.container-home{
    margin-top: 100px;
}
.container-new{
    border: 1px solid lightgrey;
    margin: 0px 20px;
}
.container-news{
    padding: 50px 0px;
}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    background: rgb(103,98,198);
    background: linear-gradient(90deg, rgba(103,98,198,1) 0%, rgba(9,118,121,0.16290266106442575) 100%, rgba(0,212,255,1) 100%);
    padding: 30px;
}